
body {
  min-height: 100vh;
  background: #212534;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  flex-direction: column; /* Arrange children in column direction */
  height: 100%; /* Take full height of the viewport */
}


h1 {
  color: white;
  font-family: "Titan One", cursive;
  margin-bottom: 40px;
  font-weight: bolder;
}

h2 {
  color: white;
  font-family: "Titan One", cursive;
  margin-bottom: 30px;
}

.instructions p {
  color: white;
  font-family: "Titan One", cursive;
  margin-bottom: 30px;
  max-width: 500px; /* Adjust this value as needed */
  overflow-wrap: break-word; /* Handles long words */
}

li {
  color: white;
  font-family: "Titan One", cursive;
  margin-bottom: 10px;
}

.custom-button {
  background-color: purple !important; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #45a049; /* Darker Green */
}




